@model IEnumerable<QuanLySuaChua_BaoHanh.Models.PhieuSuaChua>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhieuSuaChuaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiNhanTraSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KyThuat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuSuaChuaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNhanTraSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyThuat.Id)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.PhieuSuaChuaId">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.PhieuSuaChuaId">Xem chi tiết</a> |
            </td>
        </tr>
}
    </tbody>
</table>
