@model QuanLySuaChua_BaoHanh.Models.Quan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Quan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhPho)
        </dt>
        <dd class = "col-sm-10">
            @Model.ThanhPho.ThanhPhoId - @Model.ThanhPho.TenThanhPho
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
