@model IEnumerable<QuanLySuaChua_BaoHanh.Models.LinhKien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/NhanVienKho/Views/Shared/_LayoutStashEmployee.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLinhKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhamViSuDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLinhKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhamViSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.DanhMucId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LinhKienId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LinhKienId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LinhKienId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
