@model IEnumerable<QuanLySuaChua_BaoHanh.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaBh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianBaoHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayHetHanBh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaBh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayHetHanBh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.DanhMucId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SanPhamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SanPhamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SanPhamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
