@model IEnumerable<QuanLySuaChua_BaoHanh.Models.DanhMuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DanhMucId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMucId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DanhMucId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.DanhMucId">Xem chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.DanhMucId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
